################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/2020-Training-Project-/v16/Browse.VC.opendb
/.vs/2020-Training-Project-/v16/Browse.VC.db
*.suo
*.json
/EchoServer_TCP/.vs/EchoServer_TCP/v16/Browse.VC.opendb
/EchoServer_TCP/.vs/EchoServer_TCP/v16/Solution.VC.db-shm
/EchoServer_TCP/.vs/EchoServer_TCP/v16/Solution.VC.db-wal
/EchoServer_TCP/.vs/EchoServer_TCP/v16/ipch/AutoPCH/e3d5b0e80a673bea/SERVERMAIN.ipch
/EchoServer_TCP/.vs/EchoServer_TCP/v16/ipch/AutoPCH/d5ca5b0d7005553c/BASESERVER.ipch
/EchoServer_TCP/.vs/EchoServer_TCP/v16/ipch/AutoPCH/464986dc7ee80c7e/SOCKETOBJ.ipch
/EchoServer_TCP/.vs/EchoServer_TCP/v16/ipch/AutoPCH/5b8db7d74e3b8da3/CLIENTMAIN.ipch
/EchoServer_TCP/.vs/EchoServer_TCP/v16/ipch/AutoPCH/643fda69ddc1fc3e/GAMECLIENT.ipch
